* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  text-align: center;
}

.todomain {
  margin-top: 50px;
  display: block;
  margin: 5% 15% 0 15%;
  background-color: #6a73a8;
  padding: 50px;
  border-radius: 16px;
  box-shadow: inset -6px -6px 12px rgba(0, 0, 0, 0.8),
    inset 6px 6px 12px rgba(255, 255, 255, 0.4);
}

.todomain input {
  margin: 10px;
  padding: 5px 10px;
  font-size: 20px;
}

.todotask input {
  border-radius: 10px;
}

.todomain h1 {
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8),
    -2px -2px 4px rgba(255, 255, 255, 0.4);
  text-align: center;
  margin-bottom: 20px;
}

.inputcc {
  align-items: left;
  justify-content: left;
}

.activetask h1,
h3 {
  margin-top: 20px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8),
    -2px -2px 4px rgba(255, 255, 255, 0.4);
  text-align: center;
  margin-bottom: 20px;
}

.add-btn {
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;
  background: #6e6d70;
  color: #dfdedf;
  margin-bottom: 10px;
}

.done-btn {
  margin: 1px;
  padding: 4px 6px;
  border-radius: 8px;
  background: #6e6d70;
  border: none;
}
